@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;700;800&display=swap');


* { 
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 30px;
}


body {
    
    background-color: rgb(59, 58, 58);
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    padding:90px 20px 0; 
}

/* ESTILOS GENERALES */
/* Padding superior para todas las secciones */
.padding-top {
    padding-top: 60px;
}
/* Estilo de todos los links de la pagina! */
.links {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.titulo {
    font-weight: 500;
}
.iconos {
    font-size: 3rem;
}
.contenedor__iconos-texto {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}


/* BARRA DE NAVEGACION */
.header {
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    background-color: rgb(33, 33, 33);;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}

.logo {
    font-size: 30px;
    font-weight: 400;
    padding: 0 40px;
    line-height: 60px; 
}
  
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
  
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px; 
    width: max-content;
    
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}
  
.nav-menu-link:hover {
    background-color: rgba(217, 202, 179, 0.2);
    transition: 0.5s;  

}
/* LOGO MENU RESPONSIVE */

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

/* INICIO */
.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
} 
  
.perfil-img { 
    max-width: 400px;
    border-radius: 50%;
    border: 4px solid #6D9886;
}
  
.saludo {
    margin-top: 20px;
}
  
.saludo__texto {
    font-size: 1.5rem;
    font-weight: 400;
}

.saludo__texto-color {
    
    color: rgb(253, 221, 173);
}

.saludo-titulo {
    font-weight: 100;
    padding-top: 5px;
}

/* SOBRE MI */
.sobre-mi {
    max-width: 992px;
    margin: 0 auto;
}

/* HERRAMIENTAS */
.herramientas {
    max-width: 992px;
    margin: 0 auto;
}
.herramientas-iconos {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
/*Colores de los iconos*/
.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #2965f1;
}


/* PORTFOLIO */
.portfolio {
    max-width: 992px;
    margin: 0 auto;
}

.portfolio__galeria {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.portfolio__galeria-img {
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    border-radius: 5px;
} 


/* CONTACTO */
.contacto {
    max-width: 992px;
    margin: 0 auto;
    padding-bottom: 100px;
}
  
.contacto__iconos {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 30px;
    text-align: center;  
} 
  

/* PIE DE PAGINA */
.footer-text {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


/* MOBILE */
@media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 50px;
    }
  
    .logo {
      font-size: 25px;
      font-weight: 800;
      padding: 0 20px;
      line-height: 50px;
    }
  
    .nav-menu {
      font-weight: 700;
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: rgb(217, 202, 179);
      position: fixed;
      top: 50px;
      width: 100%;
      padding: 0;
  
      height: calc(100% - 30px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.4s;  
    }
  
    .nav-menu-item {
      line-height: 80px;
      text-transform: uppercase;
    }
  
    .nav-menu-link:hover {
      background: none;
    }
  
    .nav-toggle {
      display: block;
      font-size: 25px;
    }
    
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }

    /* INICIO */
    .inicio {
      height: 88vh;
    }

    .perfil-img { 
      max-width: 300px;
      border-radius: 50%;
      border: 4px solid #6D9886;
    }

    /*HERRAMIENTAS*/
    .herramientas-iconos {
      padding-top: 30px;
    }

    /* PORTFOLIO */

    .portfolio__galeria {
      max-width: 100%;
      display: flex;
      flex-direction: row;
    }
    
    .portfolio__galeria-img {
      max-width: 80%;
      padding-top: 50px;
      padding-bottom: 15px;
      
    } 

  }








